.container {
  padding: 0 120px;
  background-color: hsl(225, 33%, 95%);
  position: relative;
}

.form {
  background-image: url("/src/assets/images/bg-shorten-desktop.svg");
  padding: 40px 70px;
  background-repeat: no-repeat;
  background-color: hsl(257, 27%, 26%);
  border-radius: 10px;
  display: flex;
  align-items: stretch;
  gap: 20px;
  transform: translateY(-50%);
  margin-bottom: -60px;
}

.form input {
  width: 100%;
  border: none;
  outline: none;
  padding: 15px 30px;
  border-radius: 10px;
}

.form button {
  width: 210px;
  text-wrap: nowrap;
  border: none;
  cursor: pointer;
  background-color: hsl(180, 66%, 49%);
  color: white;
  border-radius: 10px;
  padding: 10px 0;
}

.form button:hover {
  background-color: hsla(180, 66%, 75%);
}

.urlItems {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}

.urlItem {
  background-color: white;
  padding: 20px 30px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.urlItem .shortened {
  display: flex;
  gap: 20px;
  align-items: center;
}

.urlItem h3 {
  font-size: 16px;
  font-weight: 500;
  max-width: 50ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.urlItem p {
  color: hsl(180, 66%, 49%);
}

.urlItem button {
  width: 80px;
  padding: 5px 0;
  background-color: hsl(180, 66%, 49%);
  color: white;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
}

.urlItem button.copied {
  background-color: hsl(257, 27%, 26%);
}
