.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.topSection {
  flex: 0 1 auto;
  background-image: url("/src/images/pattern-bg-desktop.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  margin: 20px 0;
}

.mainForm {
  display: flex;
}

.mainForm input {
  padding: 10px 30px;
  font-size: 18px;
  color: hsl(0, 0%, 17%);
  border-radius: 10px 0 0 10px;
  border: none;
  width: 500px;
  outline: none;
}

.mainForm button {
  background-color: hsl(0, 0%, 17%);
  border: none;
  padding: 0 20px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.mainForm button:hover {
  background-color: hsl(0, 0%, 33%);
}

.infoContainer {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  transform: translateY(50%);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  position: relative;
  z-index: 2;
}

.infoContainer p {
  color: hsl(0, 0%, 59%);
  font-weight: 500;
  font-size: 14px;
}

.infoContainer h2 {
  color: hsl(0, 0%, 17%);
}

.middleInfo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.splitLine {
  height: 80%;
  width: 1px;
  background-color: rgb(190, 190, 190);
}

.map {
  background-color: greenyellow;
  width: 100%;
  flex: 1 1 auto;
  position: relative;
  z-index: 1;
}
