.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.topSection {
  flex: 0 1 auto;
  background-image: url("/src/images/pattern-bg-desktop.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  margin: 20px 0;
}
