.infoContainer {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  transform: translateY(50%);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  position: relative;
  z-index: 2;
}

.infoContainer p {
  color: hsl(0, 0%, 59%);
  font-weight: 500;
  font-size: 14px;
}

.infoContainer h2 {
  color: hsl(0, 0%, 17%);
}

.middleInfo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.splitLine {
  height: 80%;
  width: 1px;
  background-color: rgb(190, 190, 190);
}

@media (max-width: 1024px) {
  .infoContainer {
    margin: 0 10px;
  }
}

@media (max-width: 768px) {
  .infoContainer {
    grid-template-columns: 1fr;
    padding: 20px 60px;
    text-align: center;
    justify-items: center;
    margin-top: -130px;
    gap: 10px;
  }

  .splitLine {
    display: none;
  }
}

@media (max-width: 480px) {
  .infoContainer {
    padding: 20px;
  }
}
